PORT=8001
DATABASE_URL='mongodb://localhost:27017/MOM'
JWT_ADMIN_SECRET=dfsdsddsdxrgershxbnhnfyuukhmj
JWT_USER_SECRET=wewelkluiiassasvbvyuuweweluserg
FROM_EMAIL=no-reply@ntspl.co.in
SMTP_PORT=587
FROM_EMAIL_NAME=Nexus Technoware Solution Private Limited
OTP_RESENDCOUNT_RESTRCTION=3